:root {
	/* color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;

	/* size */
	--base-space: 8px;
	--size-button: 60px;
	--size-border: 4px;
	--size-thumbnail: 50px;
	--font-size: 18px;
}

* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	background-color: var(--color-black);
}

body {
	margin-top: 100px;
}

/* logo */
.logo {
	display: flex;
	align-items: center;
	margin: auto;
	border: none;
}

/* buttons */
.filterList {
	display: flex;
	justify-content: center;
	margin: 5px auto;
}

.filterList > .btn {
	margin: 5px;
}

.imgBtn {
	width: 60px;
}

.btn {
	border: none;
	transition: transform var(--animation-duration) ease;
	transition: transform 300ms ease;
}

.btn:hover {
	transform: scale(1.1);
}

.colorBtn {
	border-radius: 3px;
	font-size: var(--font-size);
	padding: 0px 20px;
}

.blueBtn {
	background-color: var(--color-blue);
}

.yellowBtn {
	background-color: var(--color-yellow);
}

.pinkBtn {
	background-color: var(--color-pink);
}

/* item list */
.items {
	margin: 1% 20%;
	list-style: none;
	overflow-y: hidden scroll;
	max-height: 500px;
	overflow-x: hidden;
}

.item__thumbnail {
	width: 50px;
	background-color: var(--color-white);
}

.item {
	display: flex;
	justify-content: start;
	display: flex;
	align-items: center;
	background-color: var(--color-white);
	width: 100%;
	padding: 5px;
	margin: 10px;
}

.item__description {
	margin-left: 5px;
	background-color: var(--color-white);
}
