:root {
	/* color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;

	/* size */
	--base-space: 8px;
	--size-button: 60px;
	--size-border: 4px;
	--size-thumbnail: 50px;
	--font-size: 18px;
}

* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	background-color: var(--color-black);
}

body {
	margin-top: 100px;
}

.logo {
	display: flex;
	align-items: center;
	margin: auto;
	border: none;
}

.filterList {
	display: flex;
	justify-content: center;
	margin: 5px auto;
}

.btn > img {
	width: 60px;
}

.btn {
	border: none;
	margin: 5px;
	transition: transform var(--animation-duration) ease;
}

.filterList > button,
button {
	transition: transform 300ms ease;
}

button:hover {
	transform: scale(1.1);
}

.colorBtn {
	border-radius: 3px;
	font-size: var(--font-size);
	padding: 0px 20px;
}

.blueBtn {
	background-color: var(--color-blue);
}

.yellowBtn {
	background-color: var(--color-yellow);
}

.pinkBtn {
	background-color: var(--color-pink);
}

.item {
	overflow-y: 70%;
}
